* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "aviner next", sans-serif;
}

:root {
  --body-color: #f9fafb;
  --accent-color: #65705f;
  --input-color: #dadce0;
  --font-color: #585d65;
  --header-color: #3f4349;
}

body {
  display: flex;
  background-color: none;
}

#logo-container {
  height: 100vh;
  flex: 1;
  background-image: url(./photos/forest-and-waterfall.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  height: 100vh;
  flex: 1.5;
}

#random-text p {
  margin-left: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

#random-text .text-one {
  margin-bottom: 1.5rem;
}

#input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  padding: 1.2rem 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px #65705f;
}

#input-container .form-header {
  width: 100%;
  text-align: left;
  margin-left: 2rem;
  font-size: 0.7rem;
  color: var(--header-color);
}

#form-field {
  display: flex;
  flex-direction: column;
  margin: 0.6rem 2rem;
}

#form-field label {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--font-color);
}

#form-field input {
  outline: none;
  appearance: none;
  min-width: 25ch;
  font-size: 1rem;
  padding: 0.3rem;
  border: 1.5px solid var(--input-color);
  border-radius: 3px;
}

#password:invalid,
#conf-password:invalid {
  border: 1.5px solid rgb(255, 0, 0);
}

.password p {
  font-size: 0.8rem;
  color: #939ca9;
}

#form-field input:focus {
  border: 1.5px solid rgb(167, 167, 255);
  box-shadow: 1px 1px 3px rgb(167, 167, 255);
}

.button-container {
  padding: 1.5rem;
}

.button-container button {
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 6px;
  border: none;
  background-color: var(--accent-color);
  color: var(--body-color);
  box-shadow: 2px 2px 3px var(--accent-color);
}

.button-container p {
  margin: 1.5rem 0 0 0;
  color: var(--header-color);
}

.button-container a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
}

.button-container a:visited {
  color: #e9af10;
}
